<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

        <title>2주차 숙제 짭짤한 맛 | 보드게임 인코그니토</title>

        <style>
            /*.font1 {*/
            /*    font-family: 'Yeon Sung', cursive;*/
            /*    font-size: 15pt;*/
            /*}*/

            .font2 {
                font-family: 'Noto Sans KR', sans-serif;
            }

            .font3 {
                font-family: 'Black Han Sans', sans-serif;
                font-size: 40pt;
            }

            .font4 {
                font-family: 'Nanum Gothic', sans-serif;
            }

            .font5 {
                font-family: 'Noto Sans KR', sans-serif;
            }

            .item-box {
                background-image: url("https://cf.geekdo-images.com/-_Z9Ny04tkRta-kthrCR9A__imagepagezoom/img/IsNVnLeuBeQNrPp2pqfZ8V4clPk=/fit-in/1200x900/filters:no_upscale():strip_icc()/pic1798812.jpg");
                width: 390px;
                height: 370px;
                background-size: contain;
                background-position: center;
                margin-top: 20px;
                margin-left: 200px;
                margin-bottom: 40px;
            }

            .wrap {
                width: 800px;
                height: 1500px;
                margin: 0 auto;
            }

            .order-box {
                width: 300px;
                margin: 0 auto;
            }

            .address-box {
                width: 500px;
                margin-left: -95px;
            }

            .phonenumber-box {
                width: 400px;
                margin-left: -45px;
            }

            .order-button {
                width: 200px;
                margin: 0 auto;
            }


        </style>

        <script>
            $(document).ready(function () {
                $('#rate-info').empty();
                exchangeRate();
                orders_list();
                $('#orders').empty();
            })


            function submit() {

                let name = $('#name').val();
                let amount = $('#amount').val();
                let address = $('#address').val();
                let phonenumber = $('#phonenumber').val();

                if (name === '' || amount === '' || address === '' || phonenumber === '') {
                    alert('주문자 정보를 모두 입력해주세요!');
                    return;
                } else {

                    $.ajax({
                        type: "POST",
                        url: "/order",
                        data: {'name': name, 'amount': amount, 'address': address, 'phonenumber': phonenumber},
                        success: function (response) { // 성공하면
                            if (response["result"] == "success") {
                                alert(response["msg"]);
                                location.reload();
                            }
                        }
                    })
                }
            }

            function orders_list() {
                $.ajax({
                    type: "GET",
                    url: "/order",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"])
                        }
                        orders = response['orders'];
                        for (let i = 0; i < orders.length; i++) {
                            let order = orders[i];

                            let name = order['name'];
                            let amount = order['amount'];
                            let address = order['address'];
                            let phoneNumber = order['phone number'];

                            let tempOrder = `<tr>
                                                <td>${name}</td>
                                                <td>${amount}</td>
                                                <td>${address}</td>
                                                <td>${phoneNumber}</td>
                                            </tr>`;

                            $('#orders').append(tempOrder);


                            

                        }
                    }
                })
            }

            {##}
            {#let tempOrder = `<tr>#}
            {#                    <th scope="row">${numIndex}</th>#}
            {#                    <td>${name}</td>#}
            {#                    <td>${amount}개</td>#}
            {#                    <td>${address}</td>#}
            {#                    <td>${phonenumber}</td>#}
            {#                 </tr>`;#}
            {##}
            {##}
            {#$('#orders').append(tempOrder);#}


            function exchangeRate() {
                $.ajax({
                    type: "Get",
                    url: "https://api.manana.kr/exchange/rate.json",
                    data: {},
                    success: function (response) {
                        let rateInfos = response[1];
                        let rateValue = rateInfos['rate'];

                        let tempHtml = `<div id="rate-info">달러-원 환율 : <span id="rate">${rateValue}</span></div>`;
                        $('#rate-info').append(tempHtml);
                    }
                })
            }

            // let count = 0;
            //
            // function calculate() {
            //     count += 1;
            //     $.ajax({
            //         type: "Get",
            //         url: "https://api.manana.kr/exchange/rate.json",
            //         data: {},
            //         success: function (response) {
            //             let rateInfos = response[1];
            //             let rateValue = rateInfos['rate'];
            //             let calCost = 42140 / rateValue;
            //             let calCostArrange = calCost.toFixed(2);
            //
            //             let caltemp = `<h4
            //         style="display: inline" class="font5">가격: <span id="cost">${calCostArrange}달러</span> / 개</h4>`;
            //
            //             let origin = `<h4
            //         style="display: inline" class="font5" id="cost">가격: 42,140원 / 개</h4>`;
            //
            //             $('#cost').empty();
            //
            //             if (count % 2 == 1) {
            //                 $('#cost').append(caltemp);
            //             } else {
            //                 $('#cost').append(origin);
            //
            //             }
            //
            //
            //         }
            //     })
            //
            // }
            let isKoreanWonShowing = true;

            function calculate() {
                isKoreanWonShowing = !isKoreanWonShowing;
                $.ajax({
                    type: "Get",
                    url: "https://api.manana.kr/exchange/rate.json",
                    data: {},
                    success: function (response) {
                        let rateInfos = response[1];
                        let rateValue = rateInfos['rate'];
                        let calCost = 42140 / rateValue;
                        let calCostArrange = calCost.toFixed(2);
                        let caltemp = `<h4
                                            style="display: inline" class="font5">가격: <span id="cost">${calCostArrange}달러</span> / 개</h4>`;
                        let origin = `<h4
                                            style="display: inline" class="font5" id="cost">가격: 42,140원 / 개</h4>`;
                        $('#cost').empty();
                        if (isKoreanWonShowing == false) {
                            $('#cost').append(caltemp);
                        } else {
                            $('#cost').append(origin);
                        }
                    }
                })
            }

        </script>
    </head>

    <body class="wrap">
        <div class="item-box">
        </div>
        <div>
            <h1 style="display:inline" class="font3">인코그니토(Inkognito)</h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h4
                    style="display: inline" class="font5" id="cost">가격: 42,140원 / 개</h4><br><br>
            <p class="font4">
                아름다운 베니스 위를 떠도는 음모!<br>
                각자의 정체를 숨기고 온 요원들은 자신의 파트너와 함께 미션을 달성해야 합니다.<br>
                매 턴마다 플레이어들은 자신의 경로로 이동해가면서 다른 플레이어들을 만나서 그의 정체를 유추합니다. <br>
                첫 번째 목표는 자신의 파트너를 찾는 것, 자신의 파트너는 미션의 절반에 해당되는 암호를 갖고 있습니다. <br>
                파트너를 찾아서 그 암호를 확인한 뒤 파트너와 함께 최종 목표를 완성해야 합니다.<br><br>

                코로나로 지겨운 일상! 가족들과 함께 인코그니토를 즐겨보세요!<br><br>

            </p><br>
        </div>
        <div class="font2">
            <h2>주문하기</h2>

            <div id="rate-info" class="font4" style="color: blue">달러-원 환율 : <span id="rate">환율정보</span></div>
            <button type="button" class="btn btn-info btn-sm" onclick="calculate()">환율정보 계산하기</button>

        </div>
        <div class="order-box">
            <div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">주문자 성함</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-describedby="name" id="name">
                </div>
            </div>
            <div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="amount">수량</label>
                    </div>
                    <select class="custom-select" id="amount">
                        <option selected>수량을 선택하세요</option>
                        <option value="1">1개</option>
                        <option value="2">2개</option>
                        <option value="3">3개</option>
                        <option value="4">4개</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="input-group mb-3 address-box">
                    <div class="input-group-prepend">
                        <span class="input-group-text">주소</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-describedby="address" id="address">
                </div>
            </div>
            <div>
                <div class="input-group mb-3 phonenumber-box">
                    <div class="input-group-prepend">
                        <span class="input-group-text">전화번호</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-describedby="phonenumber"
                           id="phonenumber">
                </div>
            </div>
        </div>
        </div>
        <br>
        <button type="button" class="btn btn-dark btn-block order-button" onclick="submit()">주문하기</button>
        </div>
        <br>
        <br>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">주문자 성함</th>
                    <th scope="col">수량</th>
                    <th scope="col">주소</th>
                    <th scope="col">전화번호</th>
                </tr>
                </thead>
                <tbody id="orders">
                <tr>
                    <td>홍길동</td>
                    <td>3개</td>
                    <td>서울특별시 서대문구 대현동11-1 이화여자대학교</td>
                    <td>02-3277-4145</td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>